<div class="container-fluid hero-section text-center">
    <div class="row align-items-center">
        <div class="col-lg-6 order-lg-1 order-2">
            <img src="https://th.bing.com/th/id/R.a9d978063d58cd8aea689e8dbb884bf8?rik=es8t6JamcP7wwA&pid=ImgRaw&r=0" class="img-fluid gamer-img" alt="Gaming Character">
        </div>

        <div class="col-lg-6 order-lg-2 order-1 text-content">
            <h1 class="welcome-title">🎮 ¡Explora los Mejores Juegos! 🚀</h1>
            <p class="welcome-text">
                Descubre un mundo lleno de aventuras, acción y estrategia. Consulta nuestro catálogo con los mejores juegos de distintas plataformas.
            </p>
            <a routerLink="/games" class="btn btn-neon">Ver Juegos</a>
        </div>
    </div>
</div>
