<div class="games-container">
    <h3 class="text-center">Lista de juegos</h3>
    <div class="grid-container">
      @for (game of games; track game.id){
        <div class="container mt-5">
          <div class="card bg-black text-light mx-auto" style="width: 18rem; border-radius: 5%">
            <img [src]="game.background_image" alt="{{ game.name }}" class="card-img-top" style="height: 10rem; border-radius: 5%" />
            <div class="card-body">
              <h5 class="card-title">{{ game.name }}</h5>
              <p class="game-description">Rating: {{ game.rating }}</p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>